<div class="container">
  <% @entries.each do |entry| %>
    <div class="panel panel-default">
      <div class="panel-body">
      	<% if entry.published %>
        	<%= link_to entry.title, entry %> - <i> published <%= time_ago_in_words(entry.published) %> ago.</i>
        <% else %>
        	<%= link_to entry.title, entry %> - <i>published date unknown</i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
